:root {
  --background-blue: #2b435a;
}

* {
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #edf6f9;
}

.main-header {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  background-color: var(--background-blue);
  color: #fff;
}

h1 {
    font-size: 40px;
    /* background-color: var(--background-blue); */
    background-color: #edf6f9;
    color:var(--background-blue);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 60px;
}

nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  color: #dee7f0;
  padding: 10px 10px;
  text-align: center;
  background-color:var(--background-blue);
}

a {
  text-decoration: double double ghostwhite;
  color: #dee7f0;
  padding-bottom: 5px;
  background:var(--background-blue);
  
}

ul {
  background:var(--background-blue);
}

li {
  display: inline;
  list-style-type: none;
  font-size: 20px;
 }

figure > img {
  width: fit-content;
  display: block;
  height: 200px;
  width: 100%;
  margin-bottom: 10px; 
}

main {
  display:flex;
  flex-flow: row wrap;
  justify-content: space-between;
  flex-basis: 0; 
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items:center;
  width: 100%;
  padding: 5px;
}

h2 {
  position: relative;
  text-align: right;
  font-size: 35px;
  padding: 20px;
  align-content: flex-end;
}

.headers {
  width: 20%;
  /* border-right: 2px solid black;
  height:initial; */

  
  /* align-items: flex-end; */
}

p {
  padding: 20px;
}

.content {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* padding: 10px; */
}

.row {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-left: 2px solid black;
  padding: 10px;
}


.content  div:first-child {
  height: 80px;
  width: 80%;
  margin-left: 65px;
  margin-top: 5px;
  margin-bottom: 2%;
  margin-right: 65px;
  border: 5px solid rgb(149, 217, 238);
  align-self: center;
  object-fit: cover;
}

.content div:not(:first-child) {
  justify-content: center;
  height: 50px;
  width: 40%;
  margin-bottom: 2%;
  border: 5px solid rgb(149, 217, 238);
  transform: scale(1, 1);
}

.links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.links div {
  padding: 5px;
  border-bottom: 2px solid black;
}