:root {
  --blue: #3b566e;
  --light-blue: rgb(149, 217, 238);
}

* {
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #edf6f9;
}

.main-header {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px 30px 0px;
  background-color: var(--blue);
  color: #fff;
}

h1 {
    font-size: 35px;
    background-color: var(--light-blue);
    color:var(--blue);
    padding-top: 10px;
    padding-bottom: 0px;
    padding-right: 10px;
    padding-left: 60px;
    margin-block-end: 0.45em;
}

.initials {
  display: none;
}

nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  color: #dee7f0;
  padding: 10px 10px;
  text-align: center;
  background-color:var(--blue);
}

a {
  text-decoration: none;
  color: #dee7f0;
  padding-bottom: 5px;
  background:var(--blue);
}

ul {
  background:var(--blue);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
}

ul div {
  padding: 10px 10px 10px 10px;
  margin: 5px;
  background-color: var(--blue);
  border-bottom: 3px solid ghostwhite;
}

li {
  display: inline;
  list-style-type: none;
  font-size: 20px;
}

.scaled {
  width: fit-content;
  display: block;
  height: 200px;
  width: 100%;
  margin-bottom: 10px; 
}

.subtitle {
  position:relative;
}

.subtitle.text {
  position:absolute;
  top: 50%;
  right: 0%;
  padding: 20px;
  background-color: var(--light-blue);
}

.photo {
  position: absolute;
  /* width: 150px; */
  height: 150px;
  top:25px;
  left:15px;
}

span {
  background-color: var(--light-blue);
  color: var(--blue);
  font-weight: bolder;
  line-height: 1.6;
}

main {
  display:flex;
  flex-flow: row wrap;
  justify-content: space-between;
  flex-basis: 0; 
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items:center;
  width: 100%;
  padding: 5px;
}

.headers {
  width: 20%;
  color: var(--blue);
}

h2 {
  position: relative;
  text-align: right;
  font-size: 35px;
  font-weight: 900;
  padding: 20px;
  align-content: flex-end;
}

p {
  padding: 20px;
  text-align: justify;
}

.row {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-left: 5px solid var(--blue);
  padding: 10px;
}

.content {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content  div:first-child {
  width: 100%;
  height: 300px;
}

.content div{
  justify-content: center;
  height: 150px;
  width: 49.5%;
  margin-bottom: 1%;
  border: 5px solid var(--light-blue); 
}

.content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 50%;
  transition: opacity 1s ease-out;
}

.darken {
  background-color: grey; 
  position: relative;
}

.content img:hover {
  opacity: 100%;
}

h3 {
  position: absolute;
  bottom: 10px;
  left: 0%;
  padding: 10px;
  background-color: var(--light-blue);
  font-size: 18px;
  color: rgb(46, 50, 99);
}

.horiseon {
  padding: 0px;
  background:none;
}

sub {
  font-size: 14px;
  font-style: italic;
  font-weight: lighter;
  background: var(--light-blue);
}

.links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
  align-items: flex-end;
}

.links div {
  padding: 5px;
  border-bottom: 2px solid var(--blue);
}

.links a {
  background-color: #edf6f9;
  color: var(--blue);
  padding-bottom: 0px;
}


/* Media queries */
@media screen and (max-width: 768px) {
 
  main {
    flex-direction: column;
  }

  .full-name{
    display: none;
  }

  .initials {
    display: inline;
  }

  .row {
  border-left: none;
  width: 100%;
  }

  .headers {
    display: none;
  }

  .links {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    align-items: center;
  }
}

@media screen and (max-width: 576px) {
  .full-name {
    display: none;
  }

  .initials {
    display: inline;
    margin-block-end: 2.0em;
  }

  .row {
  border-left: none;
  width: 100%;
  }

  .headers {
    display: none;
  }
}

  @media screen and (max-width: 400px) {
    .full-name{
    display: none;
  }

  .initials {
    display: inline;
    font-size: 20px;
  }

  h1 {
    padding: 30px 10px 30px 10px;

  }

  .row {
  border-left: none;
  width: 100%;
  }

  .headers {
    display: none;
  }
}
  
